body {
    font-family: 'Indie Flower', cursive;
}
.table {
    background-color: #0275d8 /* #1d263b */;
    color: white;
    font-size: 40px;
}
.header.mt-3 {
    font-size: 100px;
    color: white; 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAxxiNOCeetKn4W_1_M5FsGXgRCjIGoSqVjQ&usqp=CAU");
    width: 100%;
}